* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title-row {
    background: linear-gradient(to right, royalblue, midnightblue);
}
.searchbtn {
    background-color: royalblue; 
}

.searchbtn:hover {
    background-color: midnightblue;
}